__pycache__/
.github/workflows/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea


build/
dist/

# don't save the model checkpoints
checkpoints/ 
log/


*/ciip/open_clip_train/configs/prod_default.yaml
